@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    /* height: 100vh; */
    font-family: Inter, sans-serif;
    /* padding: 1rem 0; */
}

body {
    display: flex;
    justify-content: center;
}

main {
    margin: 1rem 0;
    width: 800px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -4%;
}

.contact {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
}

.contact a {
    color: black;
    text-decoration: none;
    padding: 0 0.25rem;
}

.section {
    margin: 0 1rem;
}

.section .heading {
    margin-top: 2rem;
    font-weight: 600;
    /* font-size: 20px; */
}

.section-text {
    margin: 0.5rem 0;
}

.data .row {
    display: flex;
    margin: 1rem 0;
}

.row .key {
    position: relative;
    width: 20%;
    color: rgb(85, 85, 85);
}


@media (max-width:750px) {
    html {
        font-family: 12px;
    }

    main{
        width: 100%;
    }

    .data .row {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
    }

    .row .key {
        position: relative;
        width: 100%;
        color: rgb(85, 85, 85);
        padding: 0.5rem 0;
    }

}